html {
    font-size: 62.5%;
  }
  
  body {
    box-sizing: border-box;
    cursor: default;
  }
  
  a {
    text-decoration: none;
    color: currentColor;
  }
  
  .wrapper {
    margin: 0 5%;
  }

  .header {
    display: flex;
    justify-content: center;
    width: 98%;
    margin-bottom: 50px;
  }

  .header__logo {
    margin-top: 80px;
    width: 400px;
  }
  .search__input{
    display: inline;
  }

  .search__input input {
    padding-left: 2rem;
    width: 100%;
    height: 80px;
    border-radius: 3px;
    background-color: #e7e7e7;
    border: none;
    outline: #ce5052;
    font-size: 1.4rem;
  }

  .search__input input:focus {
    outline: 2px solid #ce5052;
  }

  .search {
    margin: 40px;
  }

  /*position loupe*/
  .search__input {
  display: flex;
  align-items: center;
}
#launch-search {
  position: absolute;
  right: 200px;
}
.loupe{
  width: 50px;
  height: 50px;
  font-size: 40px;
}


/*Résultats tag de la recherche*/
.search__tags {
  margin: 40px;
}


  /*Bouton & input*/

.btn-group {
    display: flex;
    gap: 25px;
  }


  .btn_tags{
    position: absolute;
    width:200px;
    height:50px;
    z-index: 1;
  }


#ingredients-tag-btn{
  background: blue;
}
#appareils-tag-btn{
  background: lightgreen;
}
#ustencils-tag-btn{
  background: red;
}

.tag-search-input{
  opacity: 0.7;
  width:200px;
  height:50px;
  background: lightblue;
}




/*CARDS__IMG*/
.card__ingredients {
  display: grid;
  gap: 20px;
  margin-top: 45px;
  grid-template-columns: repeat(auto-fill, 400px);
}